<ul class="item-stat-list">
  <% item.localized_power_options.each do |option| %>
    <li><%= t("inventory_items.stat_bonus", name: option.fetch("name"), value: number_with_delimiter(option.fetch("value"))) %></li>
  <% end %>
</ul>
